.riddleContainer{
  display: flex;
    margin: 0px 20px 0px 20px;
    justify-content: space-between;
    width: 50%;
    .listGroupItem:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .listGroupItem:last-child {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .rightAns{
      background-color: palegreen!important;
    }
    .errorAns{
      background-color: #fd4e2f!important;
    }
  .itemList{
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    height: fit-content;
    background-color: white;


    .liBtn{
      display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 10px;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: gray;
    }
  }
  .listGroupItem{
    padding: .85rem 1.25rem;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    display: block;
    transition: 0.2s;
    cursor: pointer;
  }
  .listGroupItem:hover{
    background-color: rgb(253, 78, 47);
    color: white;
  }
}

@media screen and (max-width: 900px) {
  .riddleContainer{
    margin: 0px 20px 20px 20px;
    width: auto;
  }
}



